<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Posts</title>
    </head>
    <body>

        <div>
            <h3>Posts</h3>
            {% for key, value in posts %}
                id: {{ value.id }} |
                name: {{ value.name }} |
                content: {{ value.content }}
                <br>
            {% endfor %}
        </div>


    </body>
</html>
